In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind

In [2]:
df = pd.read_csv('/Users/herrakaava/Documents/school/intro_comp_stats/data/MustangPrice.csv', index_col=0)

In [5]:
df

    Age  Miles  Price
1     6    8.5   32.0
2     7   33.0   45.0
3     9   82.8   11.9
4     2    7.0   24.8
5     3   23.0   22.0
6    15  111.0   10.0
7    10  136.2    5.0
8     9   78.2    9.0
9     1   26.1   23.0
10    1    1.1   37.9
11    4   18.2   32.5
12   14  144.9    3.0
13    8  100.8    9.0
14   10   51.4   13.0
15    5   38.5   14.9
16    9   61.9    7.0
17    6   71.2   16.0
18    1   26.4   21.0
19   12  117.4    7.0
20   14  102.0    8.2
21   10   86.4    9.7
22   13   72.7    8.0
23   13   71.8   11.8
24   12   72.9   12.9
25   14  115.1    4.9

In [6]:
def t(data):
    """
    The estimator.
    """
    return np.mean(data)

In [16]:
def bootstrap(data, n):
    # Initialize an empty array to store the bs estimates
    bs_estimates = np.zeros(n)
    
    # Generate n bs samples,
    # Calculate the bs estimate from each bs sample,
    # store each bs estimate
    for i in range(n):
        sample_indices = np.random.choice(a=data.shape[0], size=data.shape[0], replace=True)
        bs_estimates[i] = t(data[sample_indices])
        
    return bs_estimates

In [17]:
bs_mean = bootstrap(df['Price'].values, n=10000)

In [20]:
# The original estimator
np.mean(df['Price'].mean())

np.float64(15.98)

In [21]:
# The bootstrap estimator
np.mean(bs_mean)

np.float64(15.9718992)

The *q*th percentile is the value below which at least q% of the data falls, including the values that are equal to it. This means that we can construct confidence intervals using bootstrapping and percentiles. The confidence interval for the bootstrapped mean is the middle 95% values (i.e., excluding the 2.5% in the left tail and 2.5% in the right tail).

In [23]:
lower_bound, upper_bound = np.percentile(bs_mean, q=[2.5, 97.5])

In [25]:
print(f'95% confidence interval for the mean: [{lower_bound:.3f}, {upper_bound:.3f}]')

95% confidence interval for the mean: [11.976, 20.448]